body{
    display: grid;
    grid-template-columns:100px, 1fr, 1fr, 1fr, 1fr, 1fr, 1fr, 30px, 100px;
    grid-template-rows: 100px, 1fr, 1fr, 1fr, 1fr,1fr, 100px, 100px;
    background-color: lightgreen;
}
h1{
    
    text-align: center;
    background-color: antiquewhite;
    
}
#topCards{
   display: flex;
    flex-direction: row;
    background-color: aqua;
    grid-column: span 9;
    
}
#sidebar{
    
    flex-direction: column;
    background-color: sandybrown;
    grid-row: span 7;
}
#hearts{
    
    flex-direction: row;
    background-color: aquamarine;
    grid-column: span 9;
}
#clubs{
    
    flex-direction: row;
    background-color: bisque;
    grid-column: span 9;
}
#diamond{
    
    flex-direction: row;
    background-color: darkmagenta;
    grid-column: span 9;
}
#spades{

    flex-direction: row;
    background-color: crimson;
    grid-column: span 9;
}

.empty{
    background: whitesmoke;
}
.card1 {
    background: red;
   
}
.card2 {
    background: orange;
    
}
.card3 {
    background: yellow;
    
}
.card4 {
    background: green;
  
}
.card5 {
    background: blue;
    
}
.card6 {
    background: purple;
    
}

img{
    max-width: 100px;
    max-height: 50%
}
footer{
    display: inline-flex;
    background-color: cornflowerblue;
    
}

#hat_horses{
    height: 100px
    
}