#projectGrid{
    display: grid;
    grid-template-columns:100px, 1fr, 1fr, 1fr, 1fr, 1fr, 1fr, 30px, 100px;
    grid-template-rows: 100px, 1fr, 1fr, 1fr, 1fr,1fr, 100px, 100px;
    background-color: lightgreen;
}
h1{
    
    text-align: center;
    grid-column: span 9;
    
}
#topCards{
    display: grid;
    grid-column-start: 1;
    grid-column-end: 8;
    justify-content: space-around;
    background-color: aqua;
    grid-column: 100px,1fr,1fr,1fr,1fr,1fr, 1fr;
    display: flex; 
    flex-direction: row;
    
    
}
#sidebar{
    display: grid;
    grid-row-start: 8;
    grid-row-end: 9;
    background-color: sandybrown;
   
    
}
#hearts{
    display: grid;
    grid-column-start: 1;
    grid-column-end: 8;
    background-color: aquamarine;
    grid-column: 100px,1fr,1fr,1fr,1fr,1fr, 1fr;
  

    
    
}
#clubs{
    display: grid;
    background-color: bisque;
    grid-column: 100px,1fr,1fr,1fr,1fr,1fr, 1fr;
    grid-column-start: 1;
    grid-column-end: 8;
}

#diamonds{
    display: grid;
    background-color: darkmagenta;
    grid-column: 100px,1fr,1fr,1fr,1fr,1fr, 1fr;
    grid-column-start: 1;
    grid-column-end: 8;
}

#spades{

    display: grid;
    background-color: crimson;
    grid-row: 100px,1fr,1fr,1fr,1fr,1fr, 1fr;
    grid-column-start: 1;
    grid-column-end: 8;
}
    


/* .empty{
    background: whitesmoke;
}
.card1 {
    background: red;
   
   
}
.card2 {
    background: orange;
    
}
.card3 {
    background: yellow;
    
}
.card4 {
    background: green;
  
}
.card5 {
    background: blue;
    
}
.card6 {
    background: purple;
    
} */

img{
    max-width: 100px;
    max-height: 50%
}
footer{
    display: inline-flex;
    background-color: cornflowerblue;
    
}

#hat_horses{
    height: 100px
    
} 